.add-books {
    position: absolute;
    left: 5rem;
    top: 12rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

input {
    margin: 8px 0;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

label[for="wishlist"] {
    margin: 8px 0;
}

textarea {
    height: 5rem;
    margin: 8px 0;
}