.information-window-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-area {
    width: 25rem;
    height: 20rem;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1.5px solid black;
    border-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img-id {
    width: 97%;
    height: 97%;
    object-fit: contain;
    border-radius: 5px;
}

.information-area {
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1.5px solid black;
}