body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

#main-wrap {
    width: 100%;
}

.top-bar {
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 5rem;
    border-bottom: 1.5px solid black;
    text-align: center;
}

.grid-container {
    height: 50rem;
}

.button-row {
    align-items: center;
}

.disable {
    display: none;
    visibility: hidden;
}