body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

#main-wrap {
    width: 100%;
}

.top-bar {
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 100%;
    border-bottom: 1.5px solid black;
    text-align: center;
    font-size: larger;
}

.grid-container {
    height: 50rem;
}

.button-row {
    position: relative;
    left: 5rem;
    width: 90%;
}

.button {
    background-color: white;
    border-width: 1.5px;
    border-radius: 3px;
    padding: .3rem;
    font-size: medium;
}

.button:hover {
    background-color: rgb(243, 240, 240);
}

.disable {
    display: none !important;
    visibility: hidden;
}

p {
    margin: 0;
    padding: 5px;
}

.make-one-row {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
}