body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

#main-wrap {
    width: 100%;
}

.top-bar {
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 5rem;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-gap: 40px;
    height: 50rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.left-bar {
    margin-left: .5rem;
    width: 10rem;
    height: 100%;
    border: 2px solid black;
    background-color: aqua;
}

.interacting-window {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
}

.rows-container {
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rows-area {
    width: 80%;
    height: 35rem;
    background-color: crimson;
    border-radius: 10px;
}

.information-window-wrap {
    background-color: rgb(69, 204, 209);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img-area {
    width: 25rem;
    height: 20rem;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1.5px solid black;
    background-color: brown;
}

.information-area {
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1.5px solid black;
    background-color: chartreuse;
}